{
  "singleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "plugins": ["@prettier/plugin-oxc"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "parser": "oxc"
      }
    }
  ]
}